/* Dashboard */

.page-header {
  color: red;
  display: flexbox;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.thin-table {
  border: 2px solid rgb(107, 107, 107);  
  text-align: center;
  border-spacing: 2px;

  .thin-table-header {
    font-size: 15px;
  }

  .thin-table-body {
    background-color: rgb(215, 240, 248);
  }

}

.hyperlinks {
  font-size: 15px;
}

.large-table {
  border: 2px solid rgb(159, 159, 159);  
  padding-right: 8%;
}

.buttonTriplets {
  padding: 4px;
  display: flex;
  gap: 5px;

  .middleButton {
    padding: 5px;
    box-shadow: 2px 2px 2px;
  }
  .rightButton {
    padding: 5px;
    box-shadow: 2px 2px 2px;
  }
}

.suffix-buttons {
  display: flex;
  width: 100px;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
}

/* OrderSummary */

.order-summary {
  padding: 10px;

  .refresh-button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
  }

  .order-summary-table {
    width: 100vw;
    font-size: 15px;

    td {
      padding-top: 20px;
    }
  }
}

/* Dropdown Menu */

.main-dropdown-menu {
  width: 10vw;
  margin-left: 10px;
}