/* All */

body {
  font-family: 'Times New Roman', serif;
}

/* Login Page */
.login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 60vh;

  .login-form {
    border: 2px solid rgb(172, 172, 172); 
  }
}

/* Dashboard */
.dashboard-page {
  display: flex;
  flex-direction: column;
  width: 100vw
}

.dashboard-body-wrapper {
  padding: 3px;
  border: 1px solid rgb(160, 159, 159); 
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-header {
  color: rgb(173, 2, 2);
  display: flexbox;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.thin-table {
  text-align: center;
  border-spacing: 2px;

  .column-name {
    padding-left:  4px;
    padding-right: 4px;
    white-space: nowrap;
  }

  .thin-table-header {
    font-size: 15px;
  }

  .thin-table-body {
    background-color: rgb(215, 240, 248);
  }

}

.hyperlinks {
  font-size: 15px;
  padding-left: 4vw;
}

.large-table {
  border: 2px solid rgb(159, 159, 159); 
  width: 100%; 
  padding-right: 2%;

  .key-cell {
    padding-bottom: 13px;
  }
  .value-cell {
    padding-bottom: 15px;
  }
}

.buttonTriplets {
  padding: 4px;
  display: flex;
  gap: 5px;

  .middleButton {
    padding: 5px;
    box-shadow: 2px 2px 2px;
  }
  .rightButton {
    padding: 5px;
    box-shadow: 2px 2px 2px;
  }
}

.suffix-buttons {
  display: flex;
  width: 100px;
  flex-direction: column;
  text-align: center;

  button {
    overflow: hidden;
  }

  .save-button  {
    width: 4vw;
  }
  .remarks-button {
    width: 7vw;
  }
}

/* OrderSummary */

.order-summary {
  padding: 10px;

  .refresh-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 100px;
  }

  .order-summary-table {
    width: 100vw;
    font-size: 15px;

    .key-cell {
      padding-bottom: 1px;
    }
    .value-cell {
      padding-bottom: 20px;
    }
  }
}

/* Dropdown Menu */

.main-dropdown-menu {
  width: 10vw;
  margin-left: 10px;
}